<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Carrossel Home</title>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- SCRIPTS -->
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  <!-- STYLES -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/w3.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top background-menu">
    <div class="container-fluid background-menu">
      <div class="navbar-header background-menu">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html"><img class="git" src="../img/buttonB.png" height="40px"/></a>
      </div>
      <div class="collapse navbar-collapse background-menu" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="../index.html">Home</a></li>
          <li><a href="sobre.html">Sobre nós</a></li>
          <li><a href="historia.html">História</a></li>
          <li><a href="time.html">Time</a></li>
          <li class="active"><a href="contato.html">Contato</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>
  <div class="container">


  </div>
</body>
</html>
